
<%- include('partials/headers') %>
 
<%- include('partials/navbar', { 'isLoggedin':isLoggedin, 'admin':admin }) %>

<body>
    <!-- Prealoader -->
    <div id="preloader-wrapper">
        <div class="preloader loading">
            <span class="slice"></span>
            <span class="slice"></span>
            <span class="slice"></span>
            <span class="slice"></span>
            <span class="slice"></span>
            <span class="slice"></span>
          </div>
    </div>
    <!-- Prealoader -->

    <!-- Section -->
    <section id="main-content" class="uk-section uk-section-default hidden">
        <h1>WELCOME TO TSM</h1>
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>

            <ul class="uk-slideshow-items">
                <li>
                    <img src="/public/assets/images/hex-1.jpg" alt="" uk-cover>
                </li>
                <li>
                    <img src="/public/assets/images/road-1.jpg" alt="" uk-cover>
                </li>
                <li>
                    <img src="/public/assets/images/hex.jpg" alt="" uk-cover>
                </li>
            </ul>
        
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
        
        </div>
    </section>
    <!-- Section -->

</body>

<%- include('partials/footer') %>